.gameboard {
    display: grid;
    width: 500px;
    height: 500px;
    /* Grid Template Rows and Columns are dynamically modified in 'renderGameboard' function inside runGame.js module */
}

.gameboard-grid {
    border: 1px solid grey;
}

.gameboard-grid.occupied {
    background-color: rgb(124, 124, 138);
}

.gameboard-grid {
    background-color: rgb(97, 212, 230);
}

.gameboard-grid.hit {
    display: grid;
    justify-items: center;
    align-items: center;
}

.gameboard-grid.occupied.hit:after {
    content: 'X';
    font-size: 45px;
    font-family: sans-serif;
}

.gameboard-grid.empty.hit:after {
    content: '·';
    font-size: 45px;
    font-family: sans-serif;
}

body {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}
