@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,100;1,300;1,500&display=swap');

/* Remove some predefined stylings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --background-color: #1a2431;
    --ship-color: #28394d;
    --text-color: #b0cbcd;
    --border-color: #233143;
    --hover-border-color: #30445d;
    --setup-button: #3d5472;
    --setup-button-text: #b0cbcd;
}

body {
    background-color: var(--background-color);
    display: grid;
    width: 100vw;
    height: 100vh;
    display: grid;

    color: var(--text-color);

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.game-mode-prompt,
.player-creation-prompt {
    width: 300px;
    padding: 30px;

    border-radius: 30px;
    border: 1px solid var(--border-color);

    background-color: var(--background-color);

    justify-self: center;
    align-self: center;
}

.game-mode-prompt {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(4, 50px);
    gap: 20px;
}

.game-mode-prompt > div {
    padding: 10px;
}

.game-mode-prompt > div:not(.title) {
    border-radius: 15px;

    background-color: var(--border-color);

    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    gap: 10px;
}

.game-mode-prompt > div:not(.title):hover {
    background-color: var(--hover-border-color);
}

.game-mode-prompt .title {
    font-size: 20px;
    border: 0px;
    align-self: center;
    justify-self: center;
    grid-template-columns: auto;
}

.game-mode-prompt .icon {
    width: 20px;
    height: 20px;
}

.player-creation-prompt {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    gap: 10px;
}

.player-creation-prompt .title {
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: 600;
}

.player-creation-prompt form {
    grid-row: 2 / 5;
    display: grid;
    grid-template-rows: subgrid;
}

.player-creation-prompt label {
    grid-row: 1 / 2;
}
.player-creation-prompt input {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 7px 5px;

    border: 1px solid var(--border-color);
    border-radius: 5px;

    font-size: 15px;

    grid-row: 2 / 3;
}

.player-creation-prompt button,
.switch {
    padding: 10px;

    border: 0px;
    border-radius: 7px;

    background-color: var(--border-color);
    color: var(--text-color);

    grid-row: 3 / 4;
}

.player-creation-prompt button:hover,
.switch:hover {
    background-color: var(--hover-border-color);
}

.ship-placement-page-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto auto;
    gap: 10px;

    justify-content: center;
    align-content: center;
}

.button-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    align-self: center;

    display: flex;
    gap: 10px;
}

.button-container button {
    padding: 7px;

    border: 0px;
    border-radius: 5px;

    background-color: var(--setup-button);
    color: var(--setup-button-text);

    font-weight: 600;
    color: var(--text-color);
}

.button-container button:hover {
    background-color: var(--hover-border-color);
}

.reset {
    grid-row: 2 / 3;
}

.random {
    grid-row: 3 / 4;
}

.done {
    grid-row: 4 / 5;
}

.fleet-container {
    width: calc(4vw * 5);
    height: calc(4vw * 10);

    padding: 10px;

    background-color: var(--background-color);
    border: 2px solid var(--border-color);

    grid-row: 3 / 4;
    grid-column: 2 / 3;

    align-self: center;

    display: flex;

    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.gameboard {
    border: 1px solid var(--border-color);

    align-self: center;

    align-content: center;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(10, 4vw);
    grid-template-rows: repeat(10, 4vw);
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.ship-placement-page-container .gameboard {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.gameboard-grid {
    border: 1px solid var(--border-color);
}

.gameboard-grid.occupied {
    background-color: var(--border-color);
}

.gameboard-grid {
    background-color: var(--background-color);
    display: grid;
    align-items: flex-end;
}

#recently-attacked {
    animation: glowing 2s alternate;
    background-color: rgba(255, 165, 0, 0.5);
    border-color: rgba(255, 165, 0, 0.5);
    transition: background-color 2s ease, border-color 2s ease;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 10px 0 rgba(255, 165, 0, 0.5), inset 0 0 10px 0 rgba(255, 165, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 40px 0 rgba(255, 165, 0, 0.9), inset 0 0 30px 0 rgba(255, 165, 0, 0.7);
    }
}

.gameboard-grid.hit {
    display: grid;
    justify-items: center;
    align-items: center;
}

.gameboard-grid.occupied.hit:after {
    content: 'X';
    font-size: 3vw;
    font-family: sans-serif;
    background-color: var(--border-color);
    color: var(--text-color);
}

.gameboard-grid.empty.hit:after {
    content: '·';
    font-size: 3vw;
    font-family: sans-serif;
    color: var(--text-color);
}

body {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}

.loading-screen .icon {
    border: 16px solid var(--border-color);
    border-top: 16px solid var(--hover-border-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ship {
    background-color: var(--border-color);
    border: 0px;
}

.ship.size-1.vertical {
    height: 4vw;
    width: 4vw;
}
.ship.size-2.vertical {
    height: calc(4vw * 2);
    width: 4vw;
}
.ship.size-2.horizontal {
    height: 4vw;
    width: calc(4vw * 2);
}

.ship.size-3.vertical {
    height: calc(4vw * 3);
    width: 4vw;
}
.ship.size-3.horizontal {
    height: 4vw;
    width: calc(4vw * 3);
}

.ship.size-4.vertical {
    height: calc(4vw * 4);
    width: 4vw;
}
.ship.size-4.horizontal {
    height: 4vw;
    width: calc(4vw * 4);
}

.gameboard-grid {
    position: relative;
}

.gameboard .ship {
    position: absolute;
    z-index: 10;
}

.dragging {
    transition: 0.01s;
    transform: translateX(-9999px);
}

.loading-screen {
    padding: 30px;

    border-radius: 30px;
    border: 1px solid var(--border-color);

    background-color: var(--background-color);

    justify-self: center;
    align-self: center;

    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .gameboard {
        grid-template-columns: repeat(10, clamp(28px, 8vw, 40px));
        grid-template-rows: repeat(10, clamp(28px, 8vw, 40px));
        align-self: center;
    }

    .gameboard-container {
        align-self: center;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto auto;
    }

    .ship.size-1.vertical {
        height: clamp(28px, 8vw, 40px);
        width: clamp(28px, 8vw, 40px);
    }
    .ship.size-2.vertical {
        height: calc(clamp(28px, 8vw, 40px) * 2);
        width: clamp(28px, 8vw, 40px);
    }
    .ship.size-2.horizontal {
        height: clamp(28px, 8vw, 40px);
        width: calc(clamp(28px, 8vw, 40px) * 2);
    }

    .ship.size-3.vertical {
        height: calc(clamp(28px, 8vw, 40px) * 3);
        width: clamp(28px, 8vw, 40px);
    }
    .ship.size-3.horizontal {
        height: clamp(28px, 8vw, 40px);
        width: calc(clamp(28px, 8vw, 40px) * 3);
    }

    .ship.size-4.vertical {
        height: calc(clamp(28px, 8vw, 40px) * 4);
        width: clamp(28px, 8vw, 40px);
    }
    .ship.size-4.horizontal {
        height: clamp(28px, 8vw, 40px);
        width: calc(clamp(28px, 8vw, 40px) * 4);
    }

    .ship-placement-page-container {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
    }

    .fleet-container {
        grid-row: 4 / 5;
        grid-column: 1 / 2;

        height: calc(clamp(28px, 8vw, 40px) * 7);
        width: calc(clamp(28px, 8vw, 40px) * 10);
    }
}

.blurry-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: start;
    backdrop-filter: blur(5px);
    overflow: auto;
    z-index: 9999999;
}

.message-container {
    max-width: 80%;

    margin: 60px 0;
    padding: 20px;

    border-radius: 10px;

    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    overflow: hidden;

    display: grid;
    grid-template-columns: auto;
    justify-items: center;

    gap: 20px;
}

.message-heading {
    font-size: 30px;
}

.popup-text {
    text-align: center;
}

.close {
    padding: 7px;

    text-align: center;

    border: 0px;
    border-radius: 5px;

    color: white;

    background-color: var(--border-color);

    width: 100%;
}

.close:hover {
    background-color: var(--hover-border-color);
}
